@charset "utf-8";

.AtomButton{
	width: 30px;
	height: 30px;
	border: 2px solid black;
	background-color:#EFEFEF;
	margin: 1px;
	margin-left: 6px;
}

#AtomChoice{
	 background-image:url(tabulka.jpg);
}

table{
	border: 1px solid black;
}

td{
	border: 1px solid black;
	text-align:center;
	width: 130px;
	max-width: 130px;
	height: 20px;
}

.nameCell{
	background-color:#8B77FF;
}

#chargeAdder{
	width: 80px;
}

#valenceAdder{
	width: 80px;
}

#move{
	background-image:url(hand.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
	margin-top: 6px;
}
#delete{
	background-image:url(DeleteRed.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
	margin-top: 6px;
}

#toolDiv{
	width : 800px;
	height: 42px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -350px;
	margin-left: -400px;
	background: #CCC;
	border: 1px solid black;	
}

#atomInfoDiv{
	position: fixed;
  	top: 50%;
  	left: 50%;
	margin-top: -300px;
	margin-left: 460px;
	visibility: hidden;
}

#bondInfoDiv{
	position: fixed;
  	top: 50%;
  	left: 50%;
	margin-top: -300px;
	margin-left: 460px;
	visibility: hidden;
}

canvas {
  	position: fixed;
  	top: 50%;
  	left: 50%;
  	margin-top: -300px;
	margin-left: -400px;
	border: 1px solid black;
}

#output{
	width: 800px;
	height: 30px;
	position: fixed;
  	top: 50%;
  	left: 50%;
  	margin-top: 320px;
	margin-left: -400px;
}

#serialization{
	margin-top: -30px;
	margin-left: 100px;
	border: 1px solid black;
	height: 40px;
	width : 700px;
	overflow: auto;
	white-space: nowrap;
	
}

#rightMenu{
	width : 42px;
	height: 600px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: 410px;
	background: #CCC;
	border: 1px solid black;	
}
#atom-bondSpace{
	height:30px;}